<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Paliv Energy</title>
  </head>
  <body>
    <div class="not_found_page">
      <p>Error 404. This page does not exist!</p>
      <a href="/main">Go Back</a>
    </div>
  </body>
</html>
