/* General */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #333333;
  line-height: 1.6;
  font-size: 15px;
  color: #f2f2f2;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333333;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 8px;
  border: 3px solid #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

iframe {
  width: 100%;
  height: 1000px;
}

li {
  list-style-type: none;
  margin: 0;
}

ul {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
}

.marked_text {
  color: #AB9477;
  text-decoration: none;
}

/* Navigation */
#frame_inner {
  background: inherit;
  width: 100%;
  overflow: hidden;
  height: 155px;
  position: absolute;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  transition: .2s linear;
  z-index: 999;
}

.nav1line {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: flex-end;
  height: 140px;
}

.nav1line a {
  display: inline-block;
}

.top_logo {
  margin-right: 60vw;
  margin-top: 50px;
  margin-bottom: 25px;
  transform: translateX(50%);
}

.top_news_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #f2f2f2;
  margin-top: 70px;
  margin-right: 3vw;
}

.top_news_link:hover {
  color: #EB4B18;
}

.header_icon {
  position: relative;
  cursor: pointer;
  margin-right: 12vw;
}

.menu_open {
  position: absolute;
  left: -12vw;
  top: 70px;
  z-index: 1;
  fill: #f2f2f2;
}

.menu_open:hover {
  fill: #EB4B18;
}

.menu_close {
  position: absolute;
  left: -12vw;
  top: 70px;
  z-index: 1;
  fill: #f2f2f2;
}

.menu_close:hover {
  fill: #EB4B18;
}

#menu_icon .line {
    transition: all 350ms cubic-bezier(.9, 0, .33, 1);
}
#menu_icon .line.line--1 {
    transform: rotate(0) translateY(0);
}
#menu_icon .line.line--1.line-cross {
    transform: rotate(45deg) translateY(19.9px);
    width: 33px;
}
#menu_icon .line.line--2 {
    transform: translateX(0);
}
#menu_icon .line.line--2.line-fade-out {
    transform: translate(30px);
    opacity: 0;
}
#menu_icon .line.line--3 {
    transform: rotate(0) translateY(0);
}
#menu_icon .line.line--3.line-cross {
    transform: rotate(-45deg) translateY(-19.9px);
    width: 33px;
}

#s1, #s2, #s3 {
  -webkit-display: block;
  -moz-display: block;
  -ms-display: block;
  display: block;
  border-bottom: 3px solid #f2f2f2;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -0vw;
  z-index: 1;
  border-radius: 10px;
}

#s1:before, #s2:before, #s3:before {
  content: '';
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}

.header_icon:hover #s1, .header_icon:hover #s2, .header_icon:hover #s3{
  border-bottom: 3px solid #EB4B18;
}

#s1 {
  width: 30px;
  top: 70px;
}

#s2 {
  width: 21px;
  top: 84px;
}

#s3 {
  width: 36px;
  top: 98px;
}

#navnav {
  position: absolute;
  right: -100%;
  transition: 1s ease;
}

.navul {
  padding: 0;
}

.navul li{
  margin: 35px 0;
  max-width: 33vw;
}

.navigation_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: #f2f2f2;
  position: relative;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  transition: .2s linear;
}

.navigation_link:hover {
  color: #EB4B18;
  top: -3px;
  left: 10px;
}

.navigation_link:hover:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #EB4B18;
  position: absolute;
  bottom: -2px;
  left: -6px;
  z-index: 1;
}

.active {
  color: #EB4B18;
  top: -3px;
  left: 10px;
}

.active:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #EB4B18;
  position: absolute;
  bottom: -2px;
  left: -6px;
  z-index: 1;
}

.nav3line {
  margin-top: 10vh;
  width: 100%;
  -webkit-display: inline-block;
  -moz-display: inline-block;
  -ms-display: inline-block;
  display: inline-block;
}

.nav3line_left {
  padding: 0 0 60px 10vw;
  width: 50%;
}

.nav3line_right {
  padding: 0 0 60px 30%;
  width: 50%;
}

#menu_applepay {
  margin-top: 10px;
}

#menu_androidpay {
  margin-top: 10px;
  margin-left: 15px;
}

#nav_social_line {
  position: absolute;
  bottom: 0;
  display: none;
  transition: .2s linear;
}

.nav3line_label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.social_link {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
}

.lang {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin-left: 6px;
  color: #f2f2f2;
  text-decoration: none;
}

.lang:first-child {
}

.lang:after {
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  margin-left: 7px;
}

.lang:last-child:after {
 border: none;
}

.profile_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  text-decoration: none;
  color: #f2f2f2;
  margin-top: 70px;
  margin-right: 3vw;
}

.profile_link:hover {
  color: #EB4B18;
}

/*
---------PARTNERS-----------
*/

.reviews {
  padding-top: 28vh;
  background: #333333;
}
#paper1, #paper2, #paper3, #paper4, #paper5, #paper6, #paper7 {
  display: none;
}

.partners {
  padding-top: 12vh;
  background: #333333;
  transition: .4s ease-out;
}

.partners_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #F2F2F2;
  margin-left: 18vw;
  margin-right: 18vw;
}

.partners_subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #F2F2F2;
  opacity: 0.6;
  margin-bottom: 70px;
}

.reviews .partners_subtitle {
  cursor: pointer;
}

.reviews .partners_subtitle:hover {
  color: #EB4B18;
}

.partners_address {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #F2F2F2;
}

.invitation {
  background: #f2f2f2;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: center;
  padding-top: 20vw;
  padding-bottom: 20vw;
}

.invite_btn {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #EB4B18;
  border: 1px solid #EB4B18;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(233, 74, 24, 0.5);
  padding: 9px 51px 8px 53px;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  transition: .2s linear;
}

.invite_btn:hover {
  background: #EB4B18;
  color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(233, 74, 24, 0.5);
}

.partners_sector {
  padding: 20vh 0 20vh 18vw;
  height: 100vh;
}

/*.partners_sector:nth-child(2) {
  background: #333333;
}

.partners_sector:nth-child(3) {
  background: #4D4D4D;
}

.partners_sector:nth-child(4) {
  background: #666666;
}

.partners_sector:nth-child(5) {
  background: #808080;
}

.partners_sector:nth-child(6) {
  background: #999999;
}*/

.title_sector {
  -webkit-display: inline-block;
  -moz-display: inline-block;
  -ms-display: inline-block;
  display: inline-block;
  width: 450px;
  margin-right: 6vw;
}

.text_sector {
  -webkit-display: inline-block;
  -moz-display: inline-block;
  -ms-display: inline-block;
  display: inline-block;
  vertical-align: top;
}

.reviews_sector {
  padding: 12vh 0;
  padding-left: 18vw;
}

.partners_image {
  width: 60vw;
}

#upbutton {
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-display: none;
  -moz-display: none;
  -ms-display: none;
  display: none;
  position: fixed;
  z-index: 100;
}

.upbutton_svg {
  fill: #f2f2f2;
}

#upbutton:hover .upbutton_svg {
  fill: #EB4B18;
}

#showScroll {
  position: fixed;
  top: 0;
}
