/* General */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f2f2f2;
  line-height: 1.6;
  font-size: 15px;
  color: #333333;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333333;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 8px;
  border: 3px solid #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}


iframe {
  width: 100%;
  height: 1000px;
}

li {
  list-style-type: none;
  margin: 0;
}

ul {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
  background: #333333;
}

.marked_text {
  color: #AB9477;
}

.more_link:hover {
  color: #EB4B18;
}

.more_link:hover:before {
  border-color: #EB4B18;
}

.more_link:hover:after {
  border-color: #EB4B18;
}

/* Navigation */
#frame_inner {
  background: inherit;
  width: 100%;
  overflow: hidden;
  height: 155px;
  position: fixed;
  transition: .2s linear;
  z-index: 999;
}

.navigation_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 10px;
  letter-spacing: 0.1em;
  color: #f2f2f2;
  position: relative;
  transition: .2s linear;
}

.navul {
  padding: 0;
}

.navul li{
  margin: 35px 0;
}

#navnav {
  padding-left: 30vw;
}

.navigation_link:hover {
  color: #EB4B18;
  border-bottom: 1px solid #EB4B18;
  top: -3px;
  left: 10px;
}

.active {
  color: #EB4B18;
  border-bottom: 1px solid #EB4B18;
}

.nav1line {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: flex-end;
  height: 140px;
}

.profile_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  text-decoration: none;
  color: #f2f2f2;
  margin-top: 70px;
  margin-right: 15%;
}

.profile_link:hover {
  color: #EB4B18;
}

.nav_icon:after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 3px solid #f2f2f2;
  position: absolute;
  left: 90vw;
  top: 75px;
  z-index: 1;
  transform: translateY(10%)
  rotate(-45deg);
  cursor: pointer;
}

.nav_icon:before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 3px solid #f2f2f2;
  position: absolute;
  left: 90vw;
  top: 75px;
  z-index: 1;
  transform: translateY(10%) translateX(-62%)
  rotate(45deg);
  cursor: pointer;
}

.top_logo{
  margin-right: 60vw;
  margin-top: 50px;
  margin-bottom: 25px;
  transform: translateX(50%);
}

.nav3line {
  margin-top: 10vh;
  padding: 0 0 60px 60px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
}

.nav3line_label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #f2f2f2;
}

.social_link {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
}

.lang {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin-left: 6px;
  color: #f2f2f2;
  text-decoration: none;
}

.lang:first-child {
  margin-left: 55vw;
}

.lang:after {
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  margin-left: 7px;
}

.lang:last-child:after {
 border: none;
}

.topmenu {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.top_news_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #f2f2f2;
  margin-top: 70px;
  margin-right: 15vw;
}

.top_news_link:hover {
  color: #EB4B18;
}

.header_icon {
  position: relative;
  cursor: pointer;
}

#s1, #s2, #s3 {
  -webkit-display: block;
  -moz-display: block;
  -ms-display: block;
  display: block;
  border-bottom: 3px solid #f2f2f2;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -12vw;
  z-index: 1;
  height: 8%;
}

#s1 {
  width: 30px;
  top: 70px;
}

#s2 {
  width: 21px;
  top: 81px;
}

#s3 {
  width: 36px;
  top: 92px;
}


/*
---------LOGIN------
*/

/*
---------REGISTER------
*/

/*
---------CHANGE PASSWORD------
*/

/*
---------FProfile------
*/

#sidebar {
  padding-top: 155px;
  color: #f2f2f2;
  background: #333333;
  position: fixed;
  width: 35vw;
  height: 100vh;
  min-width: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sidebar p {
  display: inline-block;
  margin-left: 10px;
}

#sidebar.activesidebar {
  width: 7vw;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  transition: .1s linear;
}

#sidebar.activesidebar .sidebar_list p {
  -webkit-display: none;
  -moz-display: none;
  -ms-display: none;
  display: none;
}

#sidebar.activesidebar .subbar_title {
  display: none;
}

#sidebar.activesidebar .toggle_btn:before {
  transform: rotate(45deg);
  left: -24px;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  transition: .1s linear;
}

.sidebar_list, .sidebar_sublist {
  padding: 15px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  cursor: pointer;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  transition: .1s linear;
  width: 100%;
  list-style: none;
  color: #f2f2f2;
}

.sidebar_list:hover {
  color: #EB4B18;
}

.sidebar_sublist:hover {
  color: #AB9477;
}

.sidebar_sublist.active_subbar {
  color: #AB9477;
}

.toggle_btn {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-left: 20px;
}

.toggle_btn:before {
  content: "";
  width: 14px;
  height: 14px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  position: absolute;
  top: 8px;
  left: -15px;
  z-index: 1;
  transform: rotate(-135deg);
  cursor: pointer;
}

.sidebar_list:hover .toggle_btn:before {
  border-top: 2px solid #EB4B18;
  border-right: 2px solid #EB4B18;
}

.fa:hover {
  color: #EB4B18;
}

.profile_content {
  display: inline-block;
  width: 100%;
}

.tab_active {
  color: #EB4B18;
}

.content_shift {
  padding-left: 28vw;
}

.profile_data {
  display: inline-block;
  width: 45%;
  margin-bottom: 7vh;
  padding-left: 20vw;
}

.profile_data:first-child {
  padding-top: 230px;
}

.profile_data2 {
  display: inline-block;
  width: 76%;
  margin-bottom: 7vh;
  padding-left: 20vw;
}

.profile_data2:first-child {
  padding-top: 230px;
}

.profile_input_data {
  background: inherit;
  border: 0;
  border-bottom: 1px solid #333333;
  width: 80%;
  margin-top: 2vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.profile_input_data2 {
  background: inherit;
  border: 0;
  border-bottom: 1px solid #333333;
  width: 70%;
  margin-top: 2vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.profile_input_data3 {
  background: inherit;
  border: 0;
  border-bottom: 1px solid #333333;
  width: 30%;
  margin-top: 2vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.profile_input_data4 {
  background: inherit;
  border: 1px solid #333333;
  width: 30%;
  margin-top: 2vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  padding: 6px 10px;
}

.profile_data_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #333333;
  opacity: 0.7;
}

.profile_data_subtext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  margin-top: 15px;
}

.profile_confirm_btn {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 6px 36px;
  margin-left: 20px;
  transition: .1s linear;
}

.profile_confirm_btn2 {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 6px 55px;
  margin-left: 20px;
  transition: .1s linear;
}

.profile_confirm_btn:hover, .profile_confirm_btn2:hover {
  background: #333333;
  color: #f2f2f2;
}

.checkbox {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  align-items: center;
  color: #333333;
  opacity: 0.7;
  white-space: nowrap;
  margin-top: 40px;
}

#checkbox {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: absolute;
  opacity: 0;
}

#checkbox+label:before {
  content: '';
  -webkit-display: inline-block;
  -moz-display: inline-block;
  -ms-display: inline-block;
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  margin-right: 6px;
}

#checkbox:checked+label:before {
  background-color: #EB4B18;
}

#checkbox2 {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: absolute;
  opacity: 0;
}

#checkbox2+label:before {
  content: '';
  -webkit-display: inline-block;
  -moz-display: inline-block;
  -ms-display: inline-block;
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  margin-right: 6px;
}

#checkbox2:checked+label:before {
  background-color: #EB4B18;
}

.gas_calc_table {
  width: 85%;
  margin-top: 230px;
  margin-left: 8vw;
  border-collapse: collapse;
}
.gas_calc_table tr {
  height: 100px;
}

.gas_calc_table tr td:nth-child(odd) {
  background: rgba(141, 147, 165, 0.1);
}

.gas_amount_table {
  width: 85%;
  margin-top: 230px;
  margin-left: 8vw;
  border-collapse: collapse;
}
.gas_amount_table tr {
  height: 100px;
}

.gas_amount_table tr:nth-child(even) {
  background: rgba(141, 147, 165, 0.1);
}

.gastable_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.table_info {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #0062A1;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #0062A1;
  color: #ffffff;
}

.gastable_data {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.profile_payment {
  padding-top: 230px;
  padding-left: 10vw;
  padding-bottom: 8vh;
}

.tabcontent .profile_payment {
  padding-top: 80px;
  padding-left: 60px;
}

.profile_payment label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #000000;
}

.profile_payment_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #333333;
  margin-bottom: 40px;
}

.profile_payment_checkbox {

}

.img_payment_type {
  width: 90%;
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}

.profile_payment_warning {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #EB4B18;
  margin-top: 8vh;
}

#profile_warning, #profile_print_payment, #img_payment_type1, #img_payment_type2, #profile_warning_2, #profile_print_payment_2, #img_payment_type1_2, #img_payment_type2_2 {
  display: none;
}

.profile_graf {
  padding-top: 230px;
  padding-left: 10vw;
  padding-bottom: 8vh;
}

.profile_graf_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.profile_graf_img {
  width: 90%;
  display: block;
}

.profile_prices {
  padding-top: 230px;
  padding-left: 10vw;
}

.profile_prices_img {
  width: 90%;
  display: block;
}

.graf_suptext {
  display: inline-block;
  margin-left: 15vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 30px;
}

.select_year {
  background: inherit;
  color: #EB4B18;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  cursor: pointer;
}

.profile_prices {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}
.profile_prices tr {
  height: 100px;
}

.profile_prices tr:nth-child(even) {
  background: rgba(141, 147, 165, 0.1);
}

/* LOGIN */
.login {
  background: #f2f2f2;
  padding: 200px 25vw;
}

.login_input {
  width: 100%;
  float: left;
}

.login_form {

}

.forget_password {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #EB4B18;
}

.login_input_inner {
  box-shadow: 12px 12px 34px rgba(171, 171, 171, 0.15);
  padding: 6vh 6vw;
  width: 50vw;
  margin-bottom: 100px;
}

.login_data {
  border: none;
  border-bottom: 1px solid #AB9477;
  margin: 22px 0 0px 0;
  background: #f2f2f2;
  width: 100%;
}

.form_label {
  margin-top: 44px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.form_subtitle {
  font-family: Open Sans;
  font-weight: lighter;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.login_title {
  margin-top: 62px;
  margin-bottom: 15px;
  width: 450px;
}

.login_title, .login_text {
  color: #333333;
}

#login_choise {
  display: flex;
  justify-content:space-around;
  margin-top: 5vh;
}

.login_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  font-variant: small-caps;
  text-decoration: none;
  color: #333333;
  margin-right: 30px;
  -webkit-display: inline-block;
  -moz-display: inline-block;
  -ms-display: inline-block;
  display: inline-block;
  cursor: pointer;
}

.login_link:hover {
  color: #EB4B18;
}

.login_active {
  font-weight: normal;
  color: #EB4B18;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #EB4B18;
}

.login_btn {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.form_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333333;
}

.login_btnL {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 66px;
  margin-left: 20px;
  transition: .1s linear;
  cursor: pointer;
}

.login_btnL:hover {
  background: #333333;
  color: #f2f2f2;
}

.login_btnR {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #EB4B18;
}

.register_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #333333;
  margin-top: 30px;
}

.register_link {
  text-decoration: none;
  color: #AB9477;
}

.recovery_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin: 50px auto;
}

.sidebar_sub_ul {
  display: none;
}

.subbar_displayed {
  display: inline-block;
}

.subbar_span {
  position: relative;
}

.subbar_span:after {
  content: "";
  width: 14px;
  height: 14px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  position: absolute;
  top: 8px;
  right: -20px;
  z-index: 1;
  transform: rotate(-135deg);
  cursor: pointer;
}

.sidebar_sublist.active_subbar .subbar_span:after {
  border-top: 2px solid #AB9477;
  border-right: 2px solid #AB9477;
}

.sidebar_sublist:hover .subbar_span:after {
  border-top: 2px solid #AB9477;
  border-right: 2px solid #AB9477;
}

.active_subbar .subbar_span:after {
  transform: rotate(-225deg);
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  transition: .1s linear;
}

.sidebar_sublist ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.profile_content_inner {
    padding-top: 155px;
    padding-left: 7vw;
}

.tab {
  overflow: hidden;
  background-color: #f2f2f2;
  width: 100%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 37px;
  padding-bottom: 37px;
  transition: 0.3s;
  width: 50%;
}

.tab button p {
  text-align: center;
  width: 100%;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.activetab {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  color: #EB4B18;
  background: inherit;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tab button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  color: #333333;
  background: rgba(141, 147, 165, 0.1);
}

.profile_info_content {
  padding-top: 155px;
  padding-left: 15vw;
  padding-bottom: 100px;
}

.kprofile_h2_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 60px;
}

.profile_data3 {
  display: inline-block;
  width: 76%;
  margin-bottom: 7vh;
}

.profile_data3:first-child {
  padding-top: 230px;
}

.profile_data4 {
  display: inline-block;
  width: 45%;
  margin-bottom: 5vh;
}

.profile_data4:first-child {
  padding-top: 230px;
}

.profile_add_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  opacity: 0.7;
  margin-top: 10px;
  padding-left: 24px;
  cursor: pointer;
  position: relative;
}

.profile_add_text:after {
  content: "";
  width: 14px;
  height: 14px;
  border-top: 1px solid rgba(51, 51, 51, 0.7);
  position: absolute;
  left: 0vw;
  top: 13.5px;
  z-index: 1;
  transform: rotate(0deg);
  cursor: pointer;
}

.profile_add_text:before {
  content: "";
  width: 14px;
  height: 14px;
  border-top: 1px solid rgba(51, 51, 51, 0.7);
  position: absolute;
  left: -6.5px;
  top: 7px;
  z-index: 1;
  transform: rotate(90deg);
  cursor: pointer;
}

.fill_the_form {
  padding-top: 155px;
  padding-left: 7vw;
}

.fill_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.fill_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #333333;
  margin-left: 60px;
  margin-bottom: 12px;
}

.fill_subtext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #EB4B18;
  margin-left: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
