/* General */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #303030;
  line-height: 1.6;
  font-size: 15px;
  color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  height: 1000px;
}

li {
  list-style-type: none;
  margin: 0;
}

ul {
  margin: 0;
}

/* 404 */
.not_found_page {
  text-align: center;
  margin-top: 30vh;
  font-size: 36px;
}

.not_found_page p {
  margin-bottom: 30px;
}

.not_found_page a {
  text-decoration: none;
  color: #f2f2f2;
  border: 1px solid #EB4B18;
  border-radius: 5px;
  padding: 20px 40px 20px 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-shadow: 0px 0px 66px #010101;
  position: relative;
  transition: .1s linear;
}

.not_found_page a:before {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  position: absolute;
  top: 26px;
  left: 40px;
  z-index: 1;
  transform: rotate(-135deg);
}

.not_found_page a:hover {
  background: #EB4B18;
}

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
}

.marked_text {
  color: #AB9477;
}

.more_link:hover {
  color: #EB4B18;
}

.more_link:hover:before {
  border-color: #EB4B18;
}

.more_link:hover:after {
  border-color: #EB4B18;
}

/* Navigation */
#frame_inner {
  background: inherit;
  width: 100%;
  overflow: hidden;
  height: 155px;
  position: fixed;
  transition: .2s linear;
  z-index: 999;
}

.navigation_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 10px;
  letter-spacing: 0.1em;
  color: #f2f2f2;
  position: relative;
  transition: .2s;
}

.navul {
  padding: 0;
}

.navul li{
  margin: 35px 0;
}

#navnav {
  padding-left: 30vw;
}

.navigation_link:hover {
  color: #EB4B18;
  border-bottom: 1px solid #EB4B18;
  top: -3px;
  left: 10px;
}

.active {
  color: #EB4B18;
  border-bottom: 1px solid #EB4B18;
}

.nav1line {
  display: flex;
  justify-content: flex-end;
  height: 140px;
}

.profile_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  text-decoration: none;
  color: #f2f2f2;
  margin-top: 70px;
  margin-right: 15%;
}

.profile_link:hover {
  color: #EB4B18;
}

.nav_icon:after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 3px solid #f2f2f2;
  position: absolute;
  left: 90vw;
  top: 75px;
  z-index: 1;
  transform: translateY(10%)
  rotate(-45deg);
  cursor: pointer;
}

.nav_icon:before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 3px solid #f2f2f2;
  position: absolute;
  left: 90vw;
  top: 75px;
  z-index: 1;
  transform: translateY(10%) translateX(-62%)
  rotate(45deg);
  cursor: pointer;
}

.top_logo{
  margin-right: 60vw;
  margin-top: 50px;
  margin-bottom: 25px;
  transform: translateX(50%);
}

.nav3line {
  margin-top: 10vh;
  padding: 0 0 60px 60px;
  display: flex;
}

.nav3line_label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.social_link {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
}

.lang {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin-left: 6px;
  color: #f2f2f2;
  text-decoration: none;
}

.lang:first-child {
  margin-left: 65vw;
}

.lang:after {
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  margin-left: 7px;
}

.lang:last-child:after {
 border: none;
}

/* Header */
.header {
  width: 100%;
  height: 600px;
  background: url(../images/intro.png), radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 130px;
}

.header_alt {
  width: 100%;
  height: 600px;
  background: url(../images/intro2.png), radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 130px;
}

.topmenu {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.top_news_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #f2f2f2;
  margin-top: 70px;
  margin-right: 15vw;
}

.top_news_link:hover {
  color: #EB4B18;
}

.header_icon {
  position: relative;
  cursor: pointer;
}

#s1, #s2, #s3 {
  display: block;
  border-bottom: 3px solid #f2f2f2;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -12vw;
  z-index: 1;
  height: 8%;
}

#s1 {
  width: 30px;
  top: 70px;
}

#s2 {
  width: 21px;
  top: 81px;
}

#s3 {
  width: 36px;
  top: 92px;
}

.header_intro {
  margin: 60px 0 0 45vw;
}

.header_intro_alt {
  margin: 80px 50vw 0 0;
  text-align: right;
}

.intro_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-shadow: 0px 0px 66px #010101;
}

.lch {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-shadow: 0px 0px 66px #010101;
  color: #EB4B18;
  margin-bottom: 40px;
}

.intro_btn {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #EB4B18;
  border: 1px solid #EB4B18;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(233, 74, 24, 0.5);
  padding: 8px 24px 9px 23px;
  transition: .2s linear;
}

.intro_btn:hover {
  background: #EB4B18;
  color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(233, 74, 24, 0.5);
}

/* About us */
.aboutus {
  margin: 12vh 18vw;
  padding-top: 100px;
    position: relative;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
}

.text {
  width: 44vw;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 20px 0;
}

.about_text {
  margin-bottom: 30px;
}

.aboutus_inner {
  display: inline-block;
}

.aboutus_inner_link {
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 0;
}

.aboutus_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #AB9477;
  transform: rotate(90deg) translateX(-82%);
  position: relative;
}

.aboutus_link:before {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 2px solid #AB9477;
  border-right: 2px solid #AB9477;
  position: absolute;
  top: -3px;
  left: 36%;
  z-index: 1;
  transform: translateY(-50%)
  rotate(-45deg);
}

/* How to */
.howto {
  margin-top: 12vh;
  padding-top: 12vh;
}

.howto_text {
  margin-left: 18vw;
}

.lights {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.howto_img {
  width: 25%;
  height: 660px;
  object-fit: none;
  object-position: top;
  cursor: pointer;
}

/* Deliveries */
.deliveries {
  margin: 0 5vw;
  margin-bottom: 12vh;
}

.deliveries_inner_text {
  display: inline-block;
  width: 49%;
}

.deliveries_more_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #AB9477;
}

.deliveries_gif {
  display: inline-block;
  width: 49%;
  margin-top: 12vh;
  vertical-align:top;
}

.deliveries_inner_gif {
  background-image: url(../images/gas-animation.gif);
  background-position: center;
  height: 560px;
}

#deliveries_input {
  display: none;
}

.deliveries_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  opacity: 0.7;
  color: #f2f2f2;
  float: left;
  margin-left: 10vw;
  cursor: pointer;
}

.deliveries_link:hover {
  color: #EB4B18;

}

.deliveries_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.deliveries_list {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-left: 20px;
  padding-bottom: 14px;
}

.deliveries_list:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #EB4B18;
  border-right: 1px solid #EB4B18;
  position: absolute;
  top: 12px;
  left: -3px;
  z-index: 1;
  transform: translateY(-50%)
  rotate(45deg);
}

.active_fuel {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  color: #EB4B18;
  opacity: 1;
  position: relative;
  transition: .1s linear;
}

.active_fuel:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #EB4B18;
  width: 100%;
  top: 22px;
}

/* Join us */
.joinus {
    background: #f2f2f2;
    padding: 12vh 10vw;
}

.joinus_input {
  width: 100%;
  float: left;
}

.join_data {
  width: 80%;
  margin-bottom: 60px;
}

.clear {
  clear: left;
}

.joinus_form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(40vw, 600px));
  grid-template-rows: repeat(1, 600px);
}

.joinus_input_inner {
  box-shadow: 12px 12px 34px rgba(171, 171, 171, 0.15);
  padding: 6vh 6vw;
  width: 85%;
}

.joinus_input_inner input {
  border: none;
  border-bottom: 1px solid #AB9477;
  margin: 22px 0 44px 0;
  background: #f2f2f2;
}

.form_label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.form_subtitle {
  font-family: Open Sans;
  font-weight: lighter;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.joinus_send {
  float: left;
  margin-left: 10%;
  width: 100%;
}

.checkbox {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #333333;
  opacity: 0.7;
  white-space: nowrap;
  margin-top: 40px;
}

#checkbox {
  margin-left: 40px;
}

.joinus_send_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  text-decoration: none;
  color: #EB4B18;
  border: 1px solid #EB4B18;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(235, 75, 24, 0.5);
  border-radius: 5px;
  padding: 9px 42px 8px 41px;
  display: inline-block;
  transition: .1s linear;
}

.joinus_send_link:hover {
  background: #EB4B18;
  box-shadow: 0px 0px 10px rgba(235, 75, 24, 0.5);
  color: #f2f2f2;
}

.joinus_title {
  margin-top: 62px;
  margin-bottom: 15px;
  width: 450px;
}

.joinus_title, .joinus_text {
  color: #333333;
}

#joinus_choise {
  margin-left: 100px;
}

.joinus_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  font-variant: small-caps;
  text-decoration: none;
  color: #333333;
  margin-right: 30px;
  display: inline-block;
  cursor: pointer;
}

.joinus_link:hover {
  color: #EB4B18;
}

.joinus_active {
  font-weight: normal;
  color: #EB4B18;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #EB4B18;
}

#checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: absolute;
  opacity: 0;
}

#checkbox+label:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  margin-left: 40px;
  margin-right: 6px;
}

#checkbox:checked+label:before {
  background-color: #EB4B18;
}

/* News */
.news {
  padding-bottom: 12vh;
  overflow: hidden;
  position: relative;
  height: 1900px;
}

.news_grad {
  position: absolute;
  bottom: 0;
  height: 600px;
  width: 100%;
  opacity: .7;
  background: linear-gradient(0deg, rgba(28,28,28,1) 5%, rgba(28,28,28,1) 10%, rgba(28,28,28,1) 15%, #333333 33%);
  z-index: 2;
  filter: blur(30px);
}

.news_grad2 {
  position: absolute;
  bottom: 0;
  height: 60vh;
  width: 100%;
  opacity: .7;
  z-index: 3;
}

.news_inner {
  width: 100%;
  margin: 100px 4vw;
}

.news_more {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #AB9477;
  cursor: pointer;
  margin-top: 25vh;
  margin-left: 46vw;
  position: relative;
}

.preudo:after {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 2px solid #AB9477;
  border-right: 2px solid #AB9477;
  position: absolute;
  top: 35px;
  left: 80px;
  z-index: 1;
  transform: translateY(-50%)
  rotate(135deg);
}

.title_news {
  display: inline-block;
  margin-left: 18vw;
  margin-bottom: 0px;
  margin-right: 40vw;
}

.news_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  color: #AB9477;
  position: relative;
}

.news_link:after {
  content: "";
  width: 13px;
  height: 13px;
  border-top: 2px solid #AB9477;
  border-right: 2px solid #AB9477;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%)
  rotate(45deg);
}

.news_line {

}

.news_line_img {
  width: 46%;
  vertical-align: middle;
  margin-bottom: 120px;
  margin-right: 3%;
}

/* presentation */
.presentation {
  background: #AB9477;
  padding: 8vh 18vw;
}

.presentation_inner{

}

.presentation_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 20px;
}

.presentation_btn {
  text-decoration: none;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding: 8px 37px;
  background: #0062A1;
  box-shadow: 0px 0px 10px rgba(0, 98, 161, 0.5);
  border-radius: 6px;
  transition: .1s linear;
}

.presentation_btn:hover {
  background: inherit;
  color: #0062A1;
  border: 1px solid #0062A1;
}

/* Map */
.map {

}

.map_img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.footer div{
  width: 24%
}

.footer_img {
  width: 223px;
  height: 80px;
}

.footer_imgsubtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  margin-top: 14px;
  width: 256px;
}

.footer_info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.footer_link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.footer_link:hover {
  color: #EB4B18;
}

.info ul li {
  margin-top: 14px;
}

.contacts ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  margin-top: 14px;
}

.contacts ul li:last-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
}

.address ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  width: 189px;
}

.address ul li:last-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;
}

#upbutton {
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 100;
}

/*
---------CONTACTS-----------
*/

.howtoFind {
  background: #27282E;
  padding: 12vh 25vw;
}

.ourContacts {
  background: #27282E;
  padding: 12vh 25vw;
}

.Ctitle2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
}

.Ctitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  margin-top: 40px;
}

.Ctext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  margin-top: 10px;
}

.Ctext2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #f2f2f2;
  margin-top: 10px;
}

.Ctext3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  margin-top: 10px;
}

/*
---------ABOUT-----------
*/

.Aabout {
  margin: 12vh 18vw;
  width: 44vw;
}

.Atitle3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #F2F2F2;
}

.principle {
  margin: 12vh 18vw;
  width: 44vw;
}

.principle_list {
  list-style-type: none;
  counter-reset: num;
  padding: 0;
}

.principle_list li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #F2F2F2;
  margin: 14px 0;
}

.principle_list li:before {
  content: counter(num) '. ';
  counter-increment: num;
  color: #EB4B18;
}

.Adirector {
  padding: 12vh 18vw;
  background: #f2f2f2;
}

.Atitle_teamD {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #333333;
}

.Adirector img {
  margin-top: 60px;
  width: 20vw;
  margin-bottom: -113px;
}

.Adirector_subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  width: 370px;
}

.Adirector_citation {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  display: inline-block;
  width: 223px;
  margin-left: 189px;
  margin-bottom: 113px;
}

.Ateam {
  background: #27282E;
  padding-top: 12vh;
}

.Ateam img {
  display: block;
  margin: 0 auto;
  width: 80vw;
}

.Ateam_subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F2F2F2;
}

.Ateam_citation {
  padding-left: 18vw;
  padding-bottom: 100px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #F2F2F2;
  width: 983px;
  margin-top: 43px;
}

/*
---------HOW TO-----------
*/

.howto_steps_outher {
  padding-bottom: 25vh;
  background: #333333;
}

.howto_steps {
  padding: 35vh 18vw 0vh 18vw;
  margin-bottom: 60vh;
  width: 100%;
}

.howto_steps_inner {
  position: relative;
  width: 100%;
}

.Htitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  display: flex;
  align-items: center;
  color: #F2F2F2;
}

.Htext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #F2F2F2;
  width: 550px;
  margin-top: 25px;
  z-index: 2;
  position: absolute;
}

.Himages {
  display: flex;
  justify-content: space-between;
  transform: translateY(-50px);
  position: absolute;
  z-index: 1;
  top: 10vh;
  width: 100%;
}

.Himages:last-of-type {
  top: 20vh;
}

#step1img, #step2img, #step3img, #step4img {
  margin: 0 0 0 auto;
}

#step2img {
  width: 417px;
  height: 399px;
}

#step3img {
  width: 590px;
  height: 442px;
}

#step4img {
  width: 429px;
  height: 438px;
}

#step1img {
  width: 505px;
  height: 348px;
}

#HtextP2 {
  margin-top: 170px;
}

#HtextP3 {
  margin-top: 265px;
}

/*
---------PARTNERS-----------
*/

.reviews {
  padding-top: 28vh;
  background: #333333;
}

.partners {
  padding-top: 12vh;
  background: #333333;
}

.partners_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #F2F2F2;
  margin-left: 18vw;
  margin-right: 18vw;
}

.partners_subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #F2F2F2;
  opacity: 0.6;
  margin-bottom: 70px;
}

.reviews .partners_subtitle {
  cursor: pointer;
}

.reviews .partners_subtitle:hover {
  color: #EB4B18;
}

.partners_address {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #F2F2F2;
}

.invitation {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 20vw;
  padding-bottom: 20vw;
}

.invite_btn {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #EB4B18;
  border: 1px solid #EB4B18;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(233, 74, 24, 0.5);
  padding: 9px 51px 8px 53px;
  transition: .2s linear;
}

.invite_btn:hover {
  background: #EB4B18;
  color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(233, 74, 24, 0.5);
}

.partners_sector {
  padding: 20vh 0 20vh 18vw;
}

.partners_sector:nth-child(2) {
  background: #333333;
}

.partners_sector:nth-child(3) {
  background: #4D4D4D;
}

.partners_sector:nth-child(4) {
  background: #666666;
}

.partners_sector:nth-child(5) {
  background: #808080;
}

.partners_sector:nth-child(6) {
  background: #999999;
}

.title_sector {
  display: inline-block;
  width: 450px;
  margin-right: 6vw;
}

.text_sector {
  display: inline-block;
  vertical-align: top;
}

.reviews_sector {
  padding: 12vh 0;
  padding-left: 18vw;
}

.partners_image {
  width: 60vw;
}
/*
-----DELIVERIES_ENERGY-------
*/

.deliver {
  padding: 12vh 0;
  padding-top: 28vh;
  background: #333333;
}

.deliver_section {
  margin-bottom: 54px;
  padding-left: 18vw;
}

.person_status {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  font-variant: small-caps;
  text-decoration: none;
  color: #f2f2f2;
  margin-right: 50px;
  margin-bottom: 32px;
  display: inline-block;
  cursor: pointer;
}

.person_status:hover {
  color: #EB4B18;
}

.active_person {
  font-weight: normal;
  color: #EB4B18;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #EB4B18;
}

#del_section2, #del_section4, #del_section21 {
  height: 50px;
  width: 100%;
  overflow: hidden;
}

 #del_section5, #del_section23, #del_section24 {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.deliver_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #F2F2F2;
  margin-bottom: 30px;
  cursor: pointer;
  width: 651px;
}

.deliver_title:hover {
  color: #EB4B18;
}

.deliver_section_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-top: 30px;
  width: 50vw;
}

.deliver_section_link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  color: #FFFFFF;
}

.deliver_section_link:hover {
  color: #EB4B18;
}

.slider_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 15px;
  width: 50vw;
}

.slider_list {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 14px;
  position: relative;
  padding-left: 20px;
}

.slider_numlist {
  margin: 0;
  padding: 0;
  counter-reset: num;
}

.slider_list:before {
  content: counter(num) ' ';
  counter-increment: num;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #EB4B18;
  position: absolute;
  left: 0px;
}

.invisible_list:before {
  content: '';
}

#intro_slides {
  position: relative;
  height: 600px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#intro_slides li{
  padding: 0px;
  margin: 0px;
}

#slides {
  position: relative;
  height: 350px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#slides2 {
  position: relative;
  height: 500px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#slides3 {
  position: relative;
  height: 800px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#slides21 {
  position: relative;
  height: 1900px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#slides23 {
  position: relative;
  height: 675px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#slides24 {
  position: relative;
  height: 14200px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.intro_slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.slide, .slide2, .slide3, .slide21, .slide23, .slide24 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity .31s;
  -moz-transition: opacity .31s;
  -o-transition: opacity .31s;
  transition: opacity .31s;
}

.showing {
  opacity: 1;
  z-index: 2;
  padding: 0;
  margin: 0;
}

.intro_slide, .slide, .slide2, .slide3, .slide21, .slide23, .slide24{
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.intro_slider_inner {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
}

.slider_inner {
  display: inline-block;
  justify-content: space-between;
}

.slider_inner:nth-child(even) {
  width: 44vw;
}

.slider_inner:nth-child(odd) {
  vertical-align: top;
  transform: translateY(-10%);
  padding-left: 10%;
  width: 50px;
}

.slider_next {
  position: relative;
}

.slider_prev {
  position: relative;
}

.slider_prev:before {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%)
  rotate(-135deg);
  top: 90px;
  left: -5em;
}

.slider_next:after {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%)
  rotate(45deg);
  top: 90px;
  right: 0;
}

.slider_next:hover:after {
  border-color: #EB4B18;
}

.slider_prev:hover:before {
  border-color: #EB4B18;
}

#s2s1 p {
  margin-bottom: 10px;
}

#s2s3 p {
  margin-bottom: 15px;
}

#s2s4 p {
  margin-bottom: 15px;
}


/*
---------DELIVERIES_GAS------
*/

#includeLaw a {
  padding-bottom: 30px;
}

.table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2F2F2;
  margin: 30px 0 14px 0;
  padding-left: 38%;
}

.table_innerL {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2F2F2;
  height: 120px;
  width: 60px;
  padding-left: 10px;
}

.table_innerR {
  padding-left: 10px;
}

td {
  border: 1px solid white;
  border-color: #f2f2f2;
}
